<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">


		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">


				<h4 class="card-title">
					<a th:href="@{'/ver/' + ${hora.cliente.id}}"
						class="btn btn-light btn-xs">&laquo; volver</a>
				</h4>

				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-primary"
						th:text="'Datos del cliente'"></li>
					<li class="list-group-item" th:text="${hora.cliente}"></li>
					<li class="list-group-item" th:text="${hora.cliente.email}"></li>
				</ul>

				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-success"
						th:text="'Datos de la hora'"></li>
					<li class="list-group-item" th:text="'Folio: ' + ${hora.id}"></li>
					<li class="list-group-item"
						th:text="'Descripción: ' + ${hora.descripcion}"></li>
					<li class="list-group-item"
						th:text="'Fecha: ' + ${hora.createAt}"></li>
				</ul>
				<div class="alert alert-info my-4"
					th:if="${#lists.isEmpty(hora.items)}"
					th:text="'No hay líneas para la hora' + ${hora.descripcion}"></div>

				<table th:if="${not #lists.isEmpty(hora.items)}"
					class="table table-striped table-hover table-bordered my-3">
					<thead>
						<tr>
							<th>Servicio</th>
							<th>Precio</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="linea: ${hora.items}">
							<td th:text="${linea.servicio.nombre}"></td>
							<td th:text="${linea.servicio.precio}"></td>
			
							
						</tr>
					</tbody>

				</table>

			

				<div class="card border-info mb-4" style="max-width: 20rem;">
					<div class="card-header">Observaciones</div>
					<div class="card-body">
						<p class="card-text" th:text="${hora.observacion}"
							th:if="${not #strings.isEmpty(hora.observacion)}"></p>
						<h4 class="card-title"
							th:if="${#strings.isEmpty(hora.observacion)}"
							th:text="'No tiene observaciones'"></h4>
					</div>
				</div>

				<a th:href="@{'/ver/' + ${hora.cliente.id}}"
					class="btn btn-light btn-xs">&laquo; volver</a>

			</div>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>